@model MusicPlay.Models.SearchModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Item searched</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

<div class="card">
    <img src=https://www.rimmersmusic.co.uk/images/yamaha-du1-disklavier-enspire-upright-piano-p36857-59553_image.jpg style="width:10%">
    <h1>Piano Yamaha</h1>
    <p class="price">$19.99</p>
    <p>Some text about the piano..</p>
    <p><button>Add to Cart</button></p>
</div>
