@{
    ViewBag.Title = "Home Page";
}
<style>

    h1 {
        font-family: 'Zapf-Chancery', cursive;
        text-align: center;
    }

    h3 {
        font-family: 'Zapf-Chancery', cursive;
        text-align: center;
    }
        /***************************/

        h3.h3 {
            text-align: center;
            margin: inherit;
            text-transform: capitalize;
            font-size: 1.7em;
        }

    /******************** shopping Demo-1 *********************/
    .product-grid {
        font-family: Raleway,sans-serif;
        text-align: initial;
        padding: 0 0 72px;
        border: 1px solid rgba(0,0,0,.1);
        overflow: hidden;
        position: relative;
        z-index: 1
    }

        .product-grid .product-image {
            position: relative;
            transition: all .3s ease 0s
        }

            .product-grid .product-image a {
                display: block
            }

            .product-grid .product-image img {
                width: 100%;
                height: auto
            }

        .product-grid .pic-1 {
            opacity: 1;
            transition: all .3s ease-out 0s
        }

        .product-grid:hover .pic-1 {
            opacity: 1
        }

        .product-grid .pic-2 {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .3s ease-out 0s
        }

        .product-grid:hover .pic-2 {
            opacity: 1
        }

        .product-grid .social {
            width: 150px;
            padding: 0;
            margin: 0;
            list-style: none;
            opacity: 0;
            transform: translateY(-50%) translateX(-50%);
            position: absolute;
            top: 60%;
            left: 50%;
            z-index: 1;
            transition: all .3s ease 0s
        }

        .product-grid:hover .social {
            opacity: 1;
            top: 50%
        }

        .product-grid .social li {
            display: inline-block
        }

            .product-grid .social li a {
                color: #fff;
                background-color: #333;
                font-size: 16px;
                line-height: 40px;
                text-align: center;
                height: 40px;
                width: 40px;
                margin: 0 2px;
                display: block;
                position: relative;
                transition: all .3s ease-in-out
            }

                .product-grid .social li a:hover {
                    color: #fff;
                    background-color: #ef5777
                }

                .product-grid .social li a:after, .product-grid .social li a:before {
                    content: attr(data-tip);
                    color: #fff;
                    background-color: #000;
                    font-size: 12px;
                    letter-spacing: 1px;
                    line-height: 20px;
                    padding: 1px 5px;
                    white-space: nowrap;
                    opacity: 0;
                    transform: translateX(-50%);
                    position: absolute;
                    left: 50%;
                    top: -30px
                }

                .product-grid .social li a:after {
                    content: '';
                    height: 15px;
                    width: 15px;
                    border-radius: 0;
                    transform: translateX(-50%) rotate(45deg);
                    top: -20px;
                    z-index: -1
                }

                .product-grid .social li a:hover:after, .product-grid .social li a:hover:before {
                    opacity: 1
                }

        .product-grid .product-discount-label, .product-grid .product-new-label {
            color: #fff;
            background-color: #ef5777;
            font-size: 12px;
            text-transform: uppercase;
            padding: 2px 7px;
            display: block;
            position: absolute;
            top: 10px;
            left: 0
        }

        .product-grid .product-discount-label {
            background-color: #333;
            left: auto;
            right: 0
        }

        .product-grid .product-content {
            background-color: #fff;
            text-align: center;
            padding: 12px 0;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -27px;
            z-index: 1;
            transition: all .3s
        }

        .product-grid:hover .product-content {
            bottom: 0
        }

        .product-grid .title {
            font-size: 13px;
            font-weight: 400;
            letter-spacing: .5px;
            text-transform: capitalize;
            margin: 0 0 10px;
            transition: all .3s ease 0s
        }

            .product-grid .title a {
                color: #828282
            }

                .product-grid .title a:hover, .product-grid:hover .title a {
                    color: #ef5777
                }

        .product-grid .price {
            color: #333;
            font-size: 17px;
            font-family: Montserrat,sans-serif;
            font-weight: 700;
            letter-spacing: .6px;
            margin-bottom: 8px;
            text-align: center;
            transition: all .3s
        }

            .product-grid .price span {
                color: #999;
                font-size: 13px;
                font-weight: 400;
                text-decoration: line-through;
                margin-left: 3px;
                display: inline-block
            }

        .product-grid .add-to-cart {
            color: #000;
            font-size: 13px;
            font-weight: 600
        }
</style>

<div class="main">
    <br />
    <br />
    <br />
    <h1>Welcome to MusicPlay shop!</h1>

    <div.static class="container">
        <h3>Musical Instruments and Professional audio equipments</h3>
        <br />

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height:30%;">
                <div class="item active">
                    <img src="https://www.soundcreation.ro/admin/uploads/media_asset/Presonus%20Studio%20live%2032SX%201200x540.jpg" alt="korgPa" style="width:100%;">
                </div>

                <div class="item">
                    <img src="https://www.soundcreation.ro/admin/uploads/media_asset/1200x540%20(1).jpg" alt="Genos" style="width:100%;">
                </div>

                <div class="item">
                    <img src="https://www.soundcreation.ro/admin/uploads/media_asset/LD%20Systems%20MAUI%20series%201200x540.jpg" alt="Grandstage" style="width:100%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="container">
            <br />
            <h1>Our latest products:</h1>
            <br />
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-1.jpg">
                                <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-2.jpg">
                            </a>
                            <ul class="social">
                                <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                            <span class="product-new-label">New</span>
                            <span class="product-discount-label">20%</span>
                        </div>

                        <div class="product-content">
                            <h3 class="title"><a href="#">Instrument title </a></h3>
                            <div class="price">
                                $16.00

                            </div>
                            <a class="add-to-cart" href="">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg">
                                <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-4.jpg">
                            </a>
                            <ul class="social">
                                <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                            <span class="product-new-label">New</span>
                            <span class="product-discount-label">50%</span>
                        </div>

                        <div class="product-content">
                            <h3 class="title"><a href="#">Instrument title</a></h3>
                            <div class="price">
                                $5.00

                            </div>
                            <a class="add-to-cart" href="">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-5.jpg">
                                <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-6.jpg">
                            </a>
                            <ul class="social">
                                <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                            <span class="product-new-label">New</span>
                            <span class="product-discount-label">50%</span>
                        </div>

                        <div class="product-content">
                            <h3 class="title"><a href="#">Instrument title</a></h3>
                            <div class="price">
                                $5.00

                            </div>
                            <a class="add-to-cart" href="">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-7.jpg">
                                <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-8.jpg">
                            </a>
                            <ul class="social">
                                <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                            <span class="product-new-label">New</span>
                            <span class="product-discount-label">50%</span>
                        </div>

                        <div class="product-content">
                            <h3 class="title"><a href="#">Instrument title</a></h3>
                            <div class="price">
                                $5.00

                            </div>
                            <a class="add-to-cart" href="">+ Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div.static>
</div>
