div
{
    border: 1px solid lime;
    text-align: center;
}

span {
    background-color: #ff8;
}

span:first-child {
    background-color: #f8f;
    float: left;
}

span:last-child {
    background-color: #8ff;
    float: right;
}
